:root{
    --bigTitleFont: 30px;
    --smallTitleFont: 15px ;

    --menuSize: 2.5em;
}

.rotateRight90 {
    transform: rotate(90deg);
}
.makeSmaller {
    scale: .75;
}

#titreCentre {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width:var(--menuSize);
    height: var(--menuSize);

    left: 5vw;
    position: absolute;
    padding:1%;
    border-radius: 50% ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: .5s;

    background: whitesmoke;

}

.phoneMenu { 
    top:13vh;
}

#menuWrapper {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset; */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    height: 0;
    /* background: redk; */
    background: white;
    transition: 1s;
    visibility: hidden;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */

}

#menuContentContainer{
    height: 50%;
    justify-content: space-evenly;display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
}
#menuWrapper a {
    font-size: 190%;
}

.menuWrapperPC{
    width: 15vw;
}

.menuWrapperPhone{
    width: 100vw;
}
/* #menuWrapper span {
    height: inherit;
} */


#menuContentContainer {
    text-align: center;
    width:80%;
    text-decoration: none;
    margin-top:15vh;
    /* background:red; */
    font-family: 'Montserrat';
}

#menuContentContainer a {
    text-decoration: none;
    color:black
}
.menuIcon {
    background: black;
    height: 3px;
    border-radius: 10px;
    width:75%;
}
.menuSmallerIcon {
    margin-top: 7px;
    margin-bottom: 7px;
    width:40%;
}

#menu:hover {
    translate:0 -1vh;
}



.banderole{
    height: 12vh;
    left:0;
    width: 100vw;
    background-color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 1000;
    transition-duration: 0.5s;
    top: 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;;
}

.transparent {
    opacity: 0.95;
    height: 70px;
    transition-duration: 0.5s;
}   

.titre_banderole{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--bigTitleFont);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

.taille{
    font-size: 25px;
    transition-duration: 0.5s;
}

.lien_banderole{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--smallTitleFont);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}

.lien_banderole:hover{   
    transition-duration: 1s;
    font-weight: 250;
}

.lienBanderolePhone {
    visibility: collapse;
}

.taille1{
    font-size: var(--smallTitleFont);
    transition-duration: 0.5s;
}