:root{
    --bigTitleFont: 30px;
    --smallTitleFont: 15px ;
}

.banderole{
    height: 10vh;
    width: 100%;
    background-color: white;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position:fixed;
    z-index: 1000;
    transition-duration: 0.5s;
    top: 0;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;;
}

.transparent {
    opacity: 0.95;
    height: 70px;
    transition-duration: 0.5s;
}   

.titre_banderole{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--bigTitleFont);
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

.taille{
    font-size: 25px;
    transition-duration: 0.5s;
}

.lien_banderole{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: var(--smallTitleFont);
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}

.lien_banderole:hover{   
    transition-duration: 1s;
    font-weight: 250;
}

.taille1{
    font-size: var(--smallTitleFont);
    transition-duration: 0.5s;
}