html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    margin: 0px;
}

/* 
:root {
    --lines: ;
} */


.barre{
    margin: 0px;
    padding: 0px;
    border: 0;
}

#cadre_logo {
    width: 100vw;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; */

    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    /* background-image: url(R.jpg); */
    /* background-size:1500px;
    background-position: top;
    background-repeat: no-repeat; */
    /* display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(8,1fr)  ; */
    /* background-color: #2196F3; */
    /* padding: 11,11\px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
    height: 90vh;
    
    -webkit-text-size-adjust: 100%;
    background-blend-mode: overlay;
    margin-top:10vh;
    background-size:100% ; /* permet de stretch l'image de pumba sur tt l'ecran pour les ecrans plus grands  */
}


#cadre_logo img {
    width: 100vw;

    position: absolute;
    height:90vh;
    object-fit: cover;
    min-width: 100%;
    z-index: -1;
    
    /* text-align: center; */
    /* display: grid; */
    /* grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 9; */
    /* position: absolute; */
}


#titre{
    position: absolute;
    top:74vh;
    display: grid;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 7;
    /* grid-row-end: 3; */
    /* margin-top: 20vh; */

}
h1 {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    font-size: 58px;
    color: white;
    letter-spacing: 2px;
    line-height: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

#sous_titre{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
}

.arrow_carrot-down {
    position: absolute;
    top:75vh;

    text-shadow: -2px -2px 7px #636363, 2px -2px 7px #636363, -2px 2px 7px #636363, 2px 2px 7px #636363;
    justify-self: center;
    align-items: flex-start;
    /* flex-direction: column; */
    /* display: grid; */
    /* position:absolute; */
    
    /* grid-column-start:3; */
    /* grid-column-end: 4; */
    /* grid-row: 8; */
    top: 91vh;
    font-size: 60px;
    transition-duration: 0.5s;
    color:white;
    /* transform: translateY(vh); */
}

.arrow_carrot-down:hover {
    transform: translateY(-1vw);
    transition-duration: 1s;
}

/*  |||||||||||||||||||||||||Contacts : Whatsapp / header |||||||||||||||||||||||||||| */

#contactWrapper{
    /* height: 100vh ; */
    /* background: red; */
    display: grid;
    
    grid-template-columns: repeat(2,1fr)  ;
    grid-template-rows: repeat(3,1fr)  ;
    /* column-gap: 15fr; */
    /* row-gap: 2fr; */
}

.contactWrapperContainer {
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: 30px;
    border-radius: 30px;
    background: green;
}

.contactWrapperContainer:hover{
    z-index: -15;
    /* transition: all 0.5s; */
    /* transform: translate(150px); */
    transform: scale(1.01);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

.contactHeader {
    grid-column-start: 1;
    z-index: -15;
    grid-column-end: 3;  
}
.contactContainer {
    z-index: -15;

    grid-row-start: 2;
    grid-row-end: 4;
}