html{
	scroll-behavior: smooth;
    margin: 0;
    border: 0;
    padding: 0;
}

#articleContainer{
    padding-inline: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articles {
    padding: 0;
    /* width: 80%; */
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 20px;
    align-items: center;
    font-weight: 400;
    text-align: center;
}


h3 {
    margin: 0;
    padding-top: 3%;
    font-family: "Montserrat", sans-serif;
    font-size:25px;
    font-weight: 600;
    /* color:red; */
}