/* body{
    background-image: url("../ressources/fougereBlanche.jpg");
} */

.wrapper{
    margin-top:13vh;

}


.date, .roles
{   
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    gap:30px;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 80%;
    padding: 1%;
    border-radius:5px;

    background-image: url("../ressources/fougere.jpg");
    color:white;
}

.date span , .roles p
{
    transition: 1s;
    text-align: center;
    padding:2%;
    margin:0;
    border-radius:15px;
}

.date span:hover , .roles p:hover
{   
    transform: scale(1.05);
    transition: 1s;
}

.wrapper 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}


#rappel {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    padding: 2%;
    background: rgba(175, 175, 175, 0.5);
    /* background-image: url("../ressources/fougereBlanche.jpg"); */
    margin: 30px;
    border-radius:5px;
    width: 78%;
}

.texte { 
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    font-size: 25px;
}